<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script src="https://api.mapbox.com/mapbox-gl-js/v1.9.1/mapbox-gl.js"></script>
    <link
      href="https://api.mapbox.com/mapbox-gl-js/v1.9.1/mapbox-gl.css"
      rel="stylesheet"
    />
    <script src="https://unpkg.com/@mapbox/mapbox-sdk/umd/mapbox-sdk.min.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"
    ></script>
    <script src="/javascripts/index.js"></script>
  </head>
  <body>
    <main class="container l-grid" role="main">
      <div class="content l-grid content--grid">
        <div class="title-wrapper">
          <h1><%= title %></h1>
          <p><%= description %></p>
        </div>
        <div class="map-wrapper l-grid">
          <div class="input-wrapper l-grid">
            <input class="input-wrapper__input" type="text" required />
            <button class="input-wrapper__button" type="button">Add</button>
          </div>
          <div id="map"></div>
        </div>
        <div class="addressList">
          <h2>Address List</h2>
          <ul class=""></ul>
        </div>
      </div>
    </main>
  </body>
  <footer></footer>
</html>
