<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
      integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
      crossorigin=""
    />
    <script
      src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
      integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
      crossorigin=""
    ></script>
    <script src="https://api.mapbox.com/mapbox.js/v3.3.0/mapbox.js"></script>
    <link
      href="https://api.mapbox.com/mapbox.js/v3.3.0/mapbox.css"
      rel="stylesheet"
    />
    <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"
    ></script>
    <script src="/javascripts/index.js"></script>
  </head>
  <body>
    <main class="container l-grid" role="main">
      <div class="content l-grid content--grid">
        <div class="title-wrapper">
          <h1><%= title %></h1>
          <p><%= description %></p>
        </div>
        <div class="map-wrapper l-grid">
          <div class="input-wrapper l-grid">
            <input class="input-wrapper__input" type="text" required />
            <button class="input-wrapper__button" type="button">Add</button>
          </div>
          <div id="mapid"></div>
        </div>
        <div class="addressList">
          <h2>Address List</h2>
          <ul class=""></ul>
        </div>
      </div>
    </main>
  </body>
  <footer></footer>
</html>
